.fruitBody {
  margin-left: 30%;
}
.fruitForm > input {
  border: 1px solid white;
  margin-top: 20px;
  display: block;
}

.fruitbtn {
  margin: auto auto auto 67px;
}

.btn-left,
.btn-right {
  border: 1px solid white;
  height: 40px;
  width: 50px;
  color: gray;
}
.btn-left {
  border-radius: 20px 0px 0px 20px;
}

.btn-right {
  border-radius: 0px 20px 20px 0px;
}
